

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.dot {
    position: absolute;
    inset: 5px;
    z-index: 10;
    /* transform: rotate(calc( 3.6deg * 20 )); */
    animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
    0%{
        transform: rotate();
    }
    100%{
        transform: rotate(calc(3.6deg * 80));
    }
}

.dot::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: chocolate;
    box-shadow: 0 0 10px chocolate,
        0 0 30px #d2691e;


}

.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation : fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

.number h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
}

.number h2 span{
    font-weight: 300;
    color: black;
    font-size: 1.5rem;
}

.number p{
    font-weight: 300;
    font-size: 0.8em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(210, 105, 30);
    margin: 0;

}
