.worksContainer {
    background-color: #2c344b;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    

    .flecha {
        height: 90px;
        position: absolute;
        cursor: pointer;

        &.Left {
            left: 300px;
            transform: rotate(90deg);
        }

        &.Right {
            right: 300px;
            transform: rotate(270deg);
        }
    }

}